<% include ../partials/header %>
<div class="container mt-2">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">yelpcamp</p>
      <div class="list-group">
        <li class="list-group-item active">info 1</li>
        <li class="list-group-item">info 2</li>
        <li class="list-group-item">info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <img
          class="card-img-top"
          src=" <%=campground.image%> "
          alt="campground image"
        />
        <div class="card-body">
          <h4 class="float-right pt-1">$9.00/night</h4>
          <h3><a href="#" class="card-link"><%=campground.name%></a></h3>
          <p class="card-text"><%=campground.description%></p>
          <p class="card-text font-italic">
            submitted by <%= campground.author.username %>
          </p>
          <% if(currentUser){%>
          <a
            class="d-inline p-2 btn btn-warning"
            href="/campgrounds/<%= campground._id %>/edit"
            >edit</a
          >
          <form
            class="d-inline"
            action="/campgrounds/<%=campground._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">delete</button>
          </form>
          <%}%>
        </div>
      </div>
      <div class="card my-5 bg-light">
        <div class="card-body">
          <div class="text-right">
            <a
              class="btn btn-success mb-1"
              href="/campgrounds/<%= campground._id %>/comments/new"
              >add new comment</a
            >
          </div>
          <% campground.comments.forEach(function(comment){%>
          <p class="card-title font-weight-bold">
            <%= comment.author.username %>
          </p>
          <span class="float-right">10 days ago</span>
          <p class="card-text"><%= comment.text %></p>
          <% if(currentUser){%>
          <a
            href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit"
            class="btn btn-sm btn-warning"
            >Edit</a
          >
          <form
            class="d-inline"
            action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=delete"
            method="post"
          >
            <input type="submit" class="btn btn-sm btn-danger" value="delete" />
          </form>
          <%}%> <%}) %>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
